body {
	font-size:80%;
	color:#eee;
	background:url(../images/graybg.png) center repeat-x;
	background-size:200%;
	min-width: 900px;
	width: 100em;
	margin: 0 auto;
}

h1 {
	font-size:3em;
	text-shadow: black 0.05em 0.05em 0.1em;
	text-align:left;
	letter-spacing:.2em;
	display:inline-block;
	color:#eee;
	position:relative;
	font-family:"Droid Sans", Arial;
	font-weight:400;
	margin:.3em 0 .2% .4em;
	padding:0;
}

h2 {
	font-size:1.5em;
	line-height:.8em;
	color:#000;
	text-shadow:.5px .5px .7px #000;
	font-family:'Open Sans', Arial;
	font-weight:400;
	margin:.3em;
}

h3 {
	text-align:center;
	font-size:1em;
	line-height:1em;
	color:#000;
	text-shadow:.5px .5px .7px #000;
	font-family:'Open Sans', Arial;
	font-weight:400;
	margin:.3em;
}

img {
	border-color:#ccc;
}

a {
	color:#0df;
	text-decoration:none;
}

.stdlink {
	color:#006;
	text-decoration:none;
	border-bottom:.06em dotted;
}

#ulnav {
	padding-bottom:0;
	float:right;
	display:inline-block;
	text-align:center;
	margin-top:0;
	margin-right:.2em;
	margin-bottom:1em;
	position:relative;
}

#nav li {
	text-align:center;
	margin-left:.1em;
	margin-bottom:0;
	display:inline-block;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background:url(../images/graylinkbg.png) center;
	background-size:100%;
	text-shadow:.5px .5px .5px #FFF;
	text-decoration:none;
	font-size:2em;
	font-family:'Open Sans', Arial;
	font-weight:300;
	position:relative;
	padding:.3em .3em 1%;
}

#maindiv {
	width:auto;
	height:auto;
	position:relative;
}

#footer {
	padding-right:1em;
	color:0;
	font-size:.7em;
	clear: both;
}

.divide {
	border:.15em solid #000;
	position:relative;
	bottom:0;
	margin:.2em;
	padding:0;
}

.mainpagetext {
	margin: 0 auto;
	text-align:center;
	text-shadow:black 0.1em 0.1em 0.1em;
	display:none;
}

.mainpagetextnojs {
	margin: 0 auto;
	text-align:center;
	text-shadow:black 0.1em 0.1em 0.1em;
}

#def {
	text-align:left;
	top:0;
}

#endofpage {
	font-family:'Open Sans', Arial;
	font-weight:300;
	font-size:1.5em;
	display:none;
	float: right;
	margin: 0em;
	bottom:0%;
	right:1%;
}

#projhead {
	text-align:center;
}

#endofpagenojs {
	font-family:'Open Sans', Arial;
	font-weight:300;
	font-size:1em;
	clear:both;
}

p,li {
	font-size:1.5em;
	line-height:1.5em;
	color:#fff;
	text-shadow:.6px .6px .8px #000;
	font-family:'Open Sans', Arial;
	font-weight:400;
}

::-moz-selection,::selection {
	background-color:#dd2020;
	color:#fff;
}