$footer-color: #333333
$copyright-default: #e3e3e3
$link-blue: #428bca
$link-blue-hover: #2a6496

body
  min-width: 767px
  margin: 0 auto
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important

a 
  text-decoration: none

p, li 
  font-weight: 300

div#footer
  bottom: 0px
  width: 100%
  margin: 0 auto
  margin-top: 3em
  background-color: $footer-color
  padding-top: 15px
  padding-bottom: 15px
  text-align: center
  a
    color: $copyright-default
    -o-transition: all 0.5s linear
    -moz-transition: all 0.5s linear
    -khtml-transition: all 0.5s linear
    -webkit-transition: all 0.5s linear
    -ms-transition: all 0.5s linear
    transition: all 0.5s linear
  a:hover
    color: white
