$footer-color: #333333
$copyright-default: #e3e3e3
$link-blue: #428bca
$link-blue-hover: #2a6496

body
  background: transparent url(../images/subtle_dots.png) repeat center top
  padding-bottom: 2em
  margin-bottom: 1em
  min-width: 767px
  margin: 0 auto
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important

a 
  text-decoration: none

p, li 
  font-weight: 300

div#footer
  margin-top: 20px
  position: fixed
  bottom: 0px
  width: 100%
  margin: 0 auto
  background-color: $footer-color
  padding: 15px
  text-align: center
  a
    margin-top: 25px
    color: $copyright-default
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    -ms-transition: all 0.5s ease
    transition: all 0.5s ease
  a:hover
    color: white
