body
  background: transparent url(../images/subtle_dots.png) repeat center top
  padding-bottom: 2em
  margin-bottom: 1em
  min-width: 985px
  margin: 0 auto
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important

h2 
  font-weight: 400
  margin: 0 auto
  text-align: center

a 
  text-decoration: none

p, li 
  font-weight: 300

//#footer
  //padding-right: 1em
  //color: #000
  //font-size: .7em
  //clear: both
