$name-default: #efefef
$name-hover: #fff
$nav-bar-color: rgba(40,40,40,0.5)
$nav-item-divider: #ccc
$nav-item-hover: #fff
$nav-item-active: #fff
$nav-item-default: #e3e3e3
$break-small: 767px

#name
  @media screen and (max-width: $break-small)
  text-align: center

#name a
  text-decoration: none
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  -ms-transition: all 0.5s ease
  transition: all 0.5s ease
  margin-top: 0.25em
  margin-bottom: 0.25em
  font-size: 1.5em
  float: left
  text-align: left
  color: $name-default
  @media screen and (max-width: $break-small)
    float: none
    text-align: center
    margin: 0 auto

  &.name-link-first
    font-weight: 600
    margin-left: 0.8em
    @media screen and (max-width: $break-small)
      margin-left: 0em

  &.name-link-second
    font-weight: 300
    margin-left: 0em

  &.name-link-first:hover
    color: $name-hover

  &.name-link-second:hover
    color: $name-hover

hr
  -webkit-margin-before: 0
  -webkit-margin-after: 0

#nav-bar
  background-color: $nav-bar-color
  position: fixed
  @media screen and (max-width: $break-small)
    position: static  
  top: 0
  right: 0
  left: 0

nav
  max-width: 1133px
  margin: 0 auto

nav ul
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  -webkit-padding-start: 0px
  margin-top: 0.70em
  margin-bottom: 0.70em
  float: right
  text-align: center
  overflow: auto
  list-style-type: none
  @media screen and (max-width: $break-small)
    clear: both
    float: none
    margin-top: 0.25em

.nav-item
  float: left
  margin-right: 0px
  border-right: 1px dotted $nav-item-divider
  padding: 0 20px
  padding-bottom: 3px
  font-size: 1.1em
  @media screen and (max-width: $break-small)
    float: none
    border-top: 1px dotted $nav-item-divider
    border-right: none
    font-size: 1.4em
    padding-top: 0.5em
    padding-bottom: 0.5em

.nav-item:last-child 
  border-right: none

.nav-item a 
  color: $nav-item-default 
  -o-transition: all 0.5s linear
  -moz-transition: all 0.5s linear
  -khtml-transition: all 0.5s linear
  -webkit-transition: all 0.5s linear
  -ms-transition: all 0.5s linear
  transition: all 0.5s linear
  display: block

.nav-item a:hover
  color: $nav-item-hover

.nav-item.active a 
  font-weight: bold
  color: $nav-item-active

.divide
  clear: both
  padding: 0
  border-color: rgba(150,150,150,0.2)
