$name-default: #efefef
$name-hover: #fff
$nav-bar-color: #333333
$nav-item-divider: #ccc
$nav-item-hover: #fff
$nav-item-active: #fff
$nav-item-default: #e3e3e3
$inner-push-percent: 15%

#name a
  text-decoration: none
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  -ms-transition: all 0.5s ease
  transition: all 0.5s ease
  margin-top: 0.25em
  margin-bottom: 0.25em
  font-size: 1.5em
  float: left
  text-align: left
  color: $name-default

#name a.name-link-first
  font-weight: 700
  margin-left: $inner-push-percent

#name a.name-link-second
  font-weight: 300
  margin-left: 0em

#name a.name-link-first:hover
  color: $name-hover
#name a.name-link-second:hover
  color: $name-hover

#nav-bar
  background-color: $nav-bar-color
  
nav
  margin-right: $inner-push-percent

nav ul
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  -webkit-padding-start: 0px
  margin-top: 0.75em
  margin-bottom: 0.75em
  float: right
  text-align: center
  overflow: auto
  list-style-type: none

.nav-item
  float: left
  margin-right: 0px
  border-right: 1px solid $nav-item-divider
  padding: 0 20px

.nav-item:last-child 
  border-right: none

.nav-item a 
  text-decoration: none
  color: $nav-item-default 
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  -ms-transition: all 0.5s ease
  transition: all 0.5s ease

.nav-item a:hover
  color: $nav-item-hover

.nav-item.active a 
  text-transform: uppercase
  color: $nav-item-active

hr 
  margin-top: 5em
  border: 0
  height: 1px
  //background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
  //background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
  //background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))
  //background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))

.divide
  clear: both
  position: relative
  margin-top: .1em
  padding: 0

