@import 'default'
@import 'nav'

body
  min-width: 670px // for canvas width
  background-size: cover

.main-content
  margin-bottom: 20px
  text-align: center

h2#shimmer-name
  margin-top: 350px
  margin-bottom: -15px
  font-size: 2em
  font-weight: 300
  text-align: center
  @media screen and (max-width: $break-small)
    font-size: 1.5em
    margin-top: 50px

#sub-title-text
  color: #fcfcfc
  text-align: center
  margin-top: 0px
  -webkit-margin-before: 0px
  -webkit-margin-after: 0px
  font-size: 120%

canvas
  border: 1px solid #ddd
  padding-left: 0
  padding-right: 0
  margin-left: auto
  margin-right: auto
  margin-top: 2em
  margin-bottom: 2em
  display: block
  opacity: 0

#play-pong
  text-decoration: none
  cursor: pointer

#play-pong:hover
  text-decoration: underline

// Shimmer effect
= vendor($prop, $args)
  -webkit-#{$prop}: #{$args}
  -ms-#{$prop}: #{$args}
  -moz-#{$prop}: #{$args}
  -o-#{$prop}: #{$args}
  #{$prop}: #{$args}

// Source: http://codepen.io/redouglas/pen/gobsm
.shimmer
  font-family: "Open Sans"
  margin-left: 140px
  padding: 0 140px 0 0 // Necessary for iteration delay :(
  text-align: center
  color: rgba(255, 255, 255, 0.85)

  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff))
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff))
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff))
  +vendor(background-size, 125px 100%)
  +vendor(background-clip, text)
  +vendor(animation-name, shimmer)
  +vendor(animation-duration, 3s)
  +vendor(animation-iteration-count, infinite)
  background-repeat: no-repeat
  background-position: 0 0
  background-color: #222

@-webkit-keyframes shimmer
  0%
    background-position: top left

  100%
    background-position: top right
