@import 'default'
@import 'nav'

body
  min-width: 670px // for canvas width TODO: figure out white space at bottom of mobile
  background-size: cover

.main-content
  margin-bottom: 20px
  text-align: center

h2#center-name
  margin-top: 350px
  margin-bottom: 0px
  font-size: 2em
  font-weight: 300
  text-align: center
  color: rgba(255, 255, 255, 0.85)
  @media screen and (max-width: $break-small)
    font-size: 1.8em
    margin-top: 60px

#sub-title-text
  color: #fcfcfc
  text-align: center
  margin-top: 0px
  -webkit-margin-before: 0px
  -webkit-margin-after: 0px
  font-size: 120%

canvas
  border: 1px solid #ddd
  padding-left: 0
  padding-right: 0
  margin-left: auto
  margin-right: auto
  margin-top: 2em
  margin-bottom: 2em
  display: block
  opacity: 0

#play-game
  text-decoration: none
  cursor: pointer

#play-game:hover
  text-decoration: underline

= vendor($prop, $args)
  -webkit-#{$prop}: #{$args}
  -ms-#{$prop}: #{$args}
  -moz-#{$prop}: #{$args}
  -o-#{$prop}: #{$args}
  #{$prop}: #{$args}
