@import 'default'
@import 'nav'

$navbar-width: 1133px
$std-white: #eeeeee

p
  color: $std-white

h2#title
  font-size: 3em
  margin: 0 auto
  text-align: center
  margin-top: 1.3em
  font-weight: 600
  color: #ececec

.link
  text-decoration: underline

.project-title
  font-size: 2.5em
  font-weight: 400
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin-bottom: 0.8em
  color: #333

.project-info
  max-width: 500px
  @media screen and (max-width: $break-small)
    margin: 0 auto

.push-left
  float: left

.push-right
  float: right

.info-section
  padding-top: 0.5em
  padding-bottom: 0.5em
  width: 45%
  @media screen and (max-width: $break-small)
    float: none
    width: 100%
    text-align: center

.img-section
  padding-top: 1.5em
  padding-bottom: 0.5em
  width: 45%
  @media screen and (max-width: $break-small)
    width: 100%

.project-specs-title
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin-top: 2em
  margin-bottom: 1em
  color: $std-white

.project-specs-info
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  margin-bottom: 1.5em
  color: $std-white

.image
  width: 100%
  height: auto
  display: inline-block
  @include border-radius(3px)
  @media screen and (max-width: $break-small)
    width: 100%
    margin-left: 0px
    margin-right: 0px

.shadow-image
  box-shadow: 3px 3px 25px 3px #222222

.carousel-default
  opacity: 0

.std-row
  display: inline-block
  width: 100%
  margin: 0 auto
  margin-top: -5px
  //background-color: rgba(20,20,20,0.1)

.project-container
  max-width: $navbar-width
  margin: 0 auto
  padding-left: 1.5em
  padding-right: 1.5em

// This now does nothing
.divider
  //background: url(../images/divide.png) no-repeat center -65px
  height: 55px
  margin: 0 auto
  border: 0
  display: block

div#footer
  position: relative

.slick-prev:before
  content: "◀"

.slick-next:before
  content: "▶"
