/* styles.sass */
/* Variables */
body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300; }

b {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700; }

p {
  display: inline; }

a {
  color: black;
  text-decoration: none;
  border-bottom: 0.08em dotted; }

ul {
  margin-top: 0em;
  margin-bottom: 0em; }

section {
  clear: both; }

.header {
  overflow: auto; }

.skill {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.08em; }

li.skills p {
  font-size: 1.05em; }

#resume-container {
  margin: 0 auto;
  width: 900px; }

#name {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 3.5em;
  margin-top: 0.32em;
  margin-left: 0.2em;
  margin-bottom: 0.3em;
  color: #444444;
  float: left; }

.info-container {
  float: right;
  text-align: right;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  margin-top: 0em; }

.main-content {
  clear: both; }

.section-header {
  background-color: #444444;
  color: white;
  /* Huh? below */
  padding: 0.01em 0em 0.02em 0.3em;
  margin-bottom: 0.3em;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 26px; }

.section-content {
  margin-left: 0.5em;
  margin-bottom: 0.9em;
  overflow: auto;
  width: 100%; }

.title {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 0em; }

.languages {
  font-family: Roboto, Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1em; }

.occupation {
  font-size: 1.1em;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 0.1em; }

.list {
  list-style-type: none; }

.duration {
  font-style: italic; }

.left {
  float: left;
  width: 45%;
  clear: both; }

.right {
  float: right;
  width: 55%; }

ul.list {
  list-style: none;
  margin-left: 0em;
  padding-left: 2em; }

ul.list li {
  line-height: 145%;
  margin-bottom: 0.1em; }

ul.list li:before {
  display: inline-block;
  content: "-";
  width: 2em;
  margin-left: -2em; }

.project, .employment, .education {
  overflow: auto;
  margin-bottom: 0.6em; }
