body {
    min-width: 767px;
    margin: 0 auto;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h1 {
    font-size: 100%;
    float: left;
    text-align: left;
    text-transform: uppercase;
    color: #575e5b;
    font-weight: 700;
    margin-top: 1em;
    margin-left: 0.5em;
}

h2 {
    font-size: 6em;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}

h4 {
    color: #333;
}

a {
    text-decoration: none;
    color: #575e5b;
}

p, li {
    font-weight: 400;
}

#header {

}

#nav {
    float: right;
    text-align: center;
    margin-right: .1em;
    margin-bottom: 0.5em;
}
#nav li {
    text-align: center;
    display: inline-block;
    color: #575e5b;
    text-decoration: none;
    font-size: 90%;
    padding-left: 0.5em;
    list-style-type: square;
    list-style-position: inside;
}

#footer {
    padding-right: 1em;
    color: #000;
    font-size: .7em;
    clear: both;
}

.divide {
    border: .1em solid #000;
    clear: both;
    position: relative;
    margin-top: .1em;
    padding: 0;
}

#plus-zero {
    text-shadow: black 0.1em 0.1em 0.1em;
}
#main-page-top {
    background: transparent url(../images/subtle_dots.png) repeat center top;
    padding-bottom: 2em;
    margin-bottom: 1em;
}

#blog-link {
    width: 40%;
    border-left: .1em solid #eee;
    float: left;
    height: 10em;
    display: inline-block;
}

#projects-link {
    width: 50%;
    border-left: .1em solid #eee;
    float: right;
    height: 10em;
    display: inline-block;
}
.push-right {
    margin-left: 1em;
}

.main-page-text {
    color: #333;
    text-align: center;
    font-size: 150%;
}

.blog-projects-title {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}

#main-page-bottom {
}

.center {
    margin-left: 15%;
    margin-right: 15%;
}

::-moz-selection, ::selection {
    background-color: #dd2020;
    color: #fff;
}