body {
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

a {
  text-decoration: none; }

p, li {
  font-weight: 300; }

div#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  margin-top: 3em;
  background-color: #333333;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center; }
  div#footer a {
    color: #e3e3e3;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -khtml-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  div#footer a:hover {
    color: white; }

#name {
  text-align: center; }

#name a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-size: 1.5em;
  float: left;
  text-align: left;
  color: #efefef; }
  @media screen and (max-width: 767px) {
    #name a {
      float: none;
      text-align: center;
      margin: 0 auto; } }
  #name a.name-link-first {
    font-weight: 600;
    margin-left: 0.8em; }
    @media screen and (max-width: 767px) {
      #name a.name-link-first {
        margin-left: 0em; } }
  #name a.name-link-second {
    font-weight: 300;
    margin-left: 0em; }
  #name a.name-link-first:hover {
    color: white; }
  #name a.name-link-second:hover {
    color: white; }

hr {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

#nav-bar {
  background-color: #333333; }

nav {
  max-width: 1133px;
  margin: 0 auto; }

nav ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px;
  margin-top: 0.75em;
  float: right;
  text-align: center;
  overflow: auto;
  list-style-type: none; }
  @media screen and (max-width: 767px) {
    nav ul {
      clear: both;
      float: none;
      margin-top: 0.25em; } }

.nav-item {
  float: left;
  margin-right: 0px;
  border-right: 1px solid #cccccc;
  padding: 0 20px; }
  @media screen and (max-width: 767px) {
    .nav-item {
      float: none;
      border-top: 1px dotted #cccccc;
      border-right: none;
      padding-top: 0.5em;
      padding-bottom: 0.5em; } }

.nav-item:last-child {
  border-right: none; }

.nav-item a {
  text-decoration: none;
  color: #e3e3e3;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -khtml-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: block; }

.nav-item a:hover {
  color: white; }

.nav-item.active a {
  font-weight: bold;
  color: white; }

.divide {
  clear: both;
  padding: 0; }

body {
  background: transparent url(../images/subtle_dots.png) repeat center top;
  min-width: 522px; }

h2#plus-zero {
  font-size: 6em;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    h2#plus-zero {
      font-size: 5em; } }

#plus-zero {
  text-shadow: black 0.1em 0.1em 0.1em; }

.main-page-text {
  color: #333333;
  text-align: center;
  font-size: 150%; }

canvas {
  border: 1px solid #999999;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  display: block;
  opacity: 0; }

#play-pong {
  color: #428bca;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -khtml-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear; }

#play-pong:hover {
  color: #2a6496;
  text-decoration: underline; }
