body {
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background: -moz-radial-gradient(center, ellipse cover, #009bc6 0%, #0088a6 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #009bc6), color-stop(100%, #0088a6));
  background: -webkit-radial-gradient(center, ellipse cover, #009bc6 0%, #0088a6 100%);
  background: -o-radial-gradient(center, ellipse cover, #009bc6 0%, #0088a6 100%);
  background: -ms-radial-gradient(center, ellipse cover, #009bc6 0%, #0088a6 100%);
  background: radial-gradient(ellipse at center, #009bc6 0%, #0088a6 100%); }

a {
  color: #eeeeee;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none; }

a:hover {
  color: white;
  text-decoration: underline; }

.link {
  text-decoration: none;
  cursor: pointer; }

p, li {
  font-weight: 300; }

div#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  margin-top: 3em;
  background-color: #333333;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center; }
  div#footer a {
    color: #e3e3e3;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -khtml-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  div#footer a:hover {
    color: white; }

#name {
  text-align: center; }

#name a {
  text-decoration: none;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-size: 1.5em;
  float: left;
  text-align: left;
  color: #efefef; }
  @media screen and (max-width: 767px) {
    #name a {
      float: none;
      text-align: center;
      margin: 0 auto; } }

.name-link-first {
  font-weight: 600;
  margin-left: 0.8em; }
  @media screen and (max-width: 767px) {
    .name-link-first {
      margin-left: 0em; } }

.name-link-second {
  font-weight: 300;
  margin-left: 0em; }

.name-link-first:hover {
  color: white;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -khtml-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.name-link-second:hover {
  color: white;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -khtml-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear; }

hr {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

#nav-bar {
  background-color: rgba(40, 40, 40, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }
  @media screen and (max-width: 767px) {
    #nav-bar {
      position: static; } }

nav {
  max-width: 1133px;
  margin: 0 auto; }

nav ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  float: right;
  text-align: center;
  overflow: auto;
  list-style-type: none; }
  @media screen and (max-width: 767px) {
    nav ul {
      clear: both;
      float: none;
      margin-top: 0.25em; } }

.nav-item {
  float: left;
  margin-right: 0px;
  border-right: 1px dotted #cccccc;
  padding: 0 20px;
  padding-bottom: 3px;
  font-size: 1.1em; }
  @media screen and (max-width: 767px) {
    .nav-item {
      float: none;
      border-top: 1px dotted #cccccc;
      border-right: none;
      font-size: 1.4em;
      padding-top: 0.5em;
      padding-bottom: 0.5em; } }

.nav-item:last-child {
  border-right: none; }

.nav-item a {
  color: #e3e3e3;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -khtml-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: block; }

.nav-item a:hover {
  color: white; }

.nav-item.active a {
  font-weight: bold;
  color: white; }

.divide {
  clear: both;
  padding: 0;
  border-color: rgba(150, 150, 150, 0.2); }

p {
  color: #eeeeee; }

h2#title {
  font-size: 3em;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.3em;
  font-weight: 600;
  color: #ececec; }

.link {
  text-decoration: underline; }

.project-title {
  font-size: 2.5em;
  font-weight: 400;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin-bottom: 0.8em;
  color: #333333; }

.project-info {
  max-width: 500px; }
  @media screen and (max-width: 767px) {
    .project-info {
      margin: 0 auto; } }

.push-left {
  float: left; }

.push-right {
  float: right; }

.info-section {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 45%; }
  @media screen and (max-width: 767px) {
    .info-section {
      float: none;
      width: 100%;
      text-align: center; } }

.img-section {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 45%; }
  @media screen and (max-width: 767px) {
    .img-section {
      width: 100%; } }

.project-specs-title {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin-top: 3em;
  margin-bottom: 1em;
  color: #eeeeee; }

.project-specs-info {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin-bottom: 1.5em;
  color: #eeeeee; }

.image {
  width: 100%;
  height: auto;
  display: inline-block; }
  @media screen and (max-width: 767px) {
    .image {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px; } }

.shadow-image {
  box-shadow: 3px 3px 25px 3px #222222; }

.std-row {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  margin-top: -5px; }

.project-container {
  max-width: 1133px;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em; }

.divider {
  height: 55px;
  margin: 0 auto;
  border: 0;
  display: block; }

div#footer {
  position: relative; }
