@charset "UTF-8";
/* styles.sass */
/* Variables */
body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300; }

p {
  display: inline; }

a {
  color: black;
  text-decoration: none;
  border-bottom: 0.08em dotted; }

ul {
  margin-top: 0em;
  margin-bottom: 0em; }

section {
  clear: both;
  margin-bottom: 0.5em; }

.header {
  overflow: auto; }

#skills-container {
  margin-bottom: 0.7em;
  padding-left: 1.5em; }

.skill {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  margin-left: -0.2em; }

li.skills p {
  font-size: 1.1em; }

li.skills {
  margin-bottom: 0.2em; }

#name {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  margin-left: 0.2em;
  color: #444444;
  float: left; }

#last-name {
  font-weight: 200; }

#resume-container {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 900px; }

.info-container {
  float: right;
  text-align: right;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.25em;
  margin-top: 0em; }

.main-content {
  clear: both; }

.section-header {
  background-color: #444444;
  color: white;
  padding: 0.1em 0em 0.15em 0.3em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: 0em;
  margin-bottom: 0.4em;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 1.6em; }

.section-content {
  margin-left: 0.5em;
  overflow: auto; }

.title {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 400; }

.occupation {
  font-size: 1.25em;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 0.1em; }

.languages {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300; }

.list {
  list-style-type: none;
  font-size: 1.1em; }

.location {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 0.1em; }

.subtitle {
  font-size: 1.1em; }

.duration {
  font-size: 1.1em; }

.left {
  float: left;
  width: 45%;
  clear: both; }

.right {
  float: right;
  width: 55%; }

ul.list {
  list-style: none;
  margin-left: 0em;
  padding-left: 2em; }

ul.list li {
  line-height: 142%;
  margin-bottom: 0.2em; }

ul.list li:before {
  display: inline-block;
  content: "•";
  width: 1.5em;
  margin-left: -1.5em; }

.project, .employment, .education {
  overflow: auto;
  margin-bottom: 1em;
  margin-top: 0.2em; }
